@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #080808;
}

.container {
    background: #ffffff;
    width: 900px;
    height: 500px;
    border-radius: 12px;
    position: relative;
    overflow: hidden;
    display: flex;
    box-shadow: 0 0 15px rgba(255,0,0,0.4);
}

/* FORM CONTAINERS */
.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    transition: all 0.6s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-in-container {
    left: 0;
}

.sign-up-container {
    left: -50%;
    opacity: 0;
}

/* ACTIVE ANIMATION */
.container.show-register .sign-up-container {
    left: 0;
    opacity: 1;
}

.container.show-register .sign-in-container {
    left: 50%;
    opacity: 0;
}

/* PANEL */
.overlay-container {
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.overlay {
    background: #6c0606;
    color: #fff;
    height: 100%;
    width: 200%;
    position: absolute;
    left: -100%;
    transition: transform 0.6s ease-in-out;
}

.container.show-register .overlay {
    transform: translateX(50%);
}

.overlay-panel {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    text-align: center;
    height: 100%;
    width: 50%;
}

.overlay-left {
    left: 0;
}

.overlay-right {
    right: 0;
}

/* FORM STYLES */
input {
    border: none;
    width: 100%;
    padding: 10px;
    outline: none;
    background: transparent;
}

form {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 12px;
}

.input-field {
    background: #eee;
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.btn {
    background: #d40000;
    border: none;
    color: white;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-outline {
    background: transparent;
    border: 2px solid white;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.social-icons ion-icon {
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
}
